<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <title>Medics Home</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/icons/font/bootstrap-icons.min.css"> --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  {{!--
  <link rel="stylesheet" href="/home.css"> --}}
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/homestyle.css">
</head>

<body>
  <div class="container-fluid header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/images/logotele1.jpg" alt="LOGO"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com" target="_blank">Message Us <i
                  class="bi bi-facebook"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.twitter.com" target="_blank">Twitter <i
                  class="bi bi-twitter"></i></a></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:kelanikdas1@gmail.com" target="_blank">Chat Us <i
                  class="bi bi-envelope-arrow-down-fill"></i></a></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wa.me/2348140470626" target="_blank">Mail Us <i
                  class="bi bi-whatsapp"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tel:+2348140470626" target="_blank">Call Us <i
                  class="bi bi-telephone-fill"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <label class="btn btn-light">Logins and Register</label>
              </a>
              <ul class="dropdown-menu" style="margin-left: 50px;">
                <li><a class="dropdown-item" href="/patient">Patient Page</a>
                <li><a class="dropdown-item" href="/doctor">Doctor's Page</a> </li>
                <li><a class="dropdown-item" href="/admin">Admin Page</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <section class="section-light">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="sectblue">
          <h1 class="mb-5" style="text-align: center;">Good Health Is The Root Of All Happiness</h1>

          <div class="sectdet">
            <div class="row">
              <div class="col-lg col-md col-sm">
                <h1>1523</h1>
                <h4>Expert Doctors/Nurse</h4>
              </div>
              <div class="col-lg col-md col-sm">
                <h1>289</h1>
                <h3>Experienced Medical Staff</h3>
              </div>
              <div class="col-lg col-md col-sm">
                <h1>17672</h1>
                <h3>House/online Patients</h3>
              </div>

            </div>
            {{!-- <div class="col-lg-2 col-md-4 col-sm-4">
              <h1>123</h1>
              <h3>Expert Doctors</h3>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <h1>1234</h1>
              <h3>Medical Staff</h3>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <h1>15678</h1>
              <h3>Total Patients</h3>
            </div> --}}
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="/carousel-1.jpg" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Cardiology</h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="/carousel-2.jpg" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">ANATOMY</h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="/carousel-3.jpg" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Pulmonary</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section>
    <div class="container sectlight">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 sect3">
          <img src="sect3img1.jpg" alt="" class="sect3img1">
          <img src="sect3img2.jpg" alt="" class="sect3img2">
          <h2 class="sect3h2">ANATOMY</h2>

        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 about">
          <div class="aboutus">
            <span>
              <h4>ABOUT US</h4>
            </span>
            <h1>Why You Should Trust Us? <br>
              Get To Know About Us!</h1>
            <p>You know how sometimes it's hard to get to the doctor's office? Either you're too busy, or
              it's too far away? That's where Medics comes in. Our website lets you see a doctor
              from the comfort of your own home. You can browse through our list of available doctors,
              pick one that fits your needs, and schedule a virtual appointment. Then, at the appointed time,
              you just hop on a video call with the doctor and discuss your symptoms. They can diagnose you,
              prescribe medication if needed, and even send over a treatment plan. It's super convenient, secure,
              and HIPAA-compliant, so you don't have to worry about your personal info. Plus,
              it's great for people who live far away from good medical care or
              have mobility issues. We're basically bringing healthcare right to your fingertips!"</p>

            <ul>
              <li><mark class="circle">&#9989;</mark> Quality Health Care</li>
              <li>&#9989; Only Qualify Doctor</li>
              <li>&#9989; Medical Research Professionals</li>
            </ul>
            <button class="btnabout">Read More</button>
          </div>
        </div>
      </div>


    </div>
    </div>
  </section>
  <!-- Section 4 of the page starts here -->

  <section>
    <div class="services">
      <h3>Services</h3>
      <h1>Health Care Solutions</h1>

      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

          <div class="cardimg">
            <img src="cadiologyimg.jpg" alt="">
            <h4>Cardiology</h4><br><br>
            <div class="card-body">
              Cardiology diagnoses and treats heart and blood vessel disorders.
              Cardiologists manage conditions like heart failure, coronary artery disease, hypertension,
              and arrhythmias through tests, medications, and interventions, improving heart health and saving lives.

              <br><br>
              <button>a>+</> Read More</button>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

          <div class="cardimg">
            <img src="pulmonaryimg.png" alt="">
            <h4>Pulmonary</h4><br><br>
            <div class="card-body">
              Pulmonology diagnoses and treats lung and respiratory disorders, such as asthma, COPD,
              pneumonia, and sleep apnea. Pulmonologists use tests like spirometry and
              bronchoscopy to manage breathing issues,
              improve lung function, and enhance patient quality of life.
              <br><br>
              <button>a>+</> Read More</button>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">
          <div class="cardimg">
            <span><img src="nurologyimg.png" alt="">
              <h4>Neurology</h4>
            </span><br><br>
            <div class="card-body">
              diagnoses and treats disorders of the brain, spinal cord, and nerves.
              Neurologists manage conditions like Alzheimer's, Parkinson's, stroke, migraines,
              and epilepsy through tests, medications, and therapy.
              We also offer virtual care through teleneurology.

              <br><br>
              <button>a>+</> Read More</button>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

          <div class="cardimg">
            <img src="orthopedics.jpg" alt="">
            <h4>Orthopedics</h4><br><br>
            <div class="card-body">
              Orthopedics diagnoses and treats disorders of the musculoskeletal system,
              including bones, joints, and muscles. Orthopedic specialists manage conditions like fractures,
              arthritis, osteoporosis, and sports injuries, using surgical and
              non-surgical methods to restore mobility and alleviate pain.
              <br><br>
              <button>a>+</> Read More</button>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

          <div class="cardimg">
            <img src="dentalimg.jpg" alt="">
            <h4>Dental Surgery</h4><br><br>
            <div class="card-body">
              Dental surgery treats various oral health issues through surgical procedures.
              Specialists perform operations like extractions, implants, root canals, and
              reconstructive surgery to restore oral function,
              alleviate pain, and enhance smiles.
              <br><br>
              <button>a>+</> Read More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

          <div class="cardimg">
            <img src="laboratoryimg.jpg" alt="">
            <h4>Laboratory</h4><br><br>
            <div class="card-body">
              Laboratory medicine diagnoses and monitors diseases through medical testing.
              Our Lab professionals analyze blood, tissue, and fluid samples to detect conditions
              like infections, cancer, and genetic disorders,
              providing crucial information for patient care and treatment.
              <br><br>
              <button>a>+</> Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="sectforcont">
    <div class="row">
      <div class="sect4cont"></div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="bgblue">
          <h3>Features</h3>
          <h1>Why Choose US?</h1>
          <p>Medics offers a convenient, accessible, and cost-effective way to receive medical care remotely.
            With Medics, patients can consult board-certified physicians from the comfort of their own homes,
            reducing travel time and wait periods. Medics also expands access to specialized care, especially
            for rural or underserved communities. Additionally, Medics platforms often provide secure and
            private online portals for medical history, prescriptions, and test results, streamlining communication
            and care coordination. By choosing Medics, patients can enjoy flexibility, efficiency, and enhanced
            continuity of care,
            improving overall health outcomes and quality of life.</p>
          <div class="listing">
            <ul>
              <li><img src="Doctor.png" alt=""></li>
              <li>Experience
                <h4>Doctors</h4>
              </li>
              <li><img src="mark.png" alt=""></li>
              <li>Quality
                <h4>Services</h4>
              </li>
            </ul>
            <ul>
              <li><img src="first_aid.jpg" alt=""></li>
              <li>Positive
                <h4>Consultation</h4>
              </li>
              <li><img src="support.png" alt=""></li>
              <li> 24hours <h4>Support</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-4 col-sm-12">
        <div class="futureimg">
          <img src="featureimg1.jpg" alt="">
        </div>
      </div>




    </div>
    </div>
  </section>


  <!-- section 5 of the page -->
  <section class="sect4">
    <h2 class="mt-5 mb-3">Doctor</h2>
    <h1 class="mb-4">Our Experience Doctors</h1>
    <div class="doctor">
      <div class="row">

        <div class="card1">
          <img src="team-3.jpg" alt="">
          <div class="cardbody">
            <h5>Barry Bar </h5>
            <h6>Pediatrics</h6>
          </div>

          <ul>
            <a href="">
              <li><img src="facebookicon.png" alt=""></li>
            </a>
            <a href="">
              <li><img src="twitter.avif" alt=""></li>
            </a>
            <a href="">
              <li><img src="whatsappicon.png" alt=""></li>
            </a>
          </ul>

        </div>

        <div class="card1">
          <img src="team-1.jpg" alt="">
          <div class="cardbody">
            <h5>Walter King </h5>
            <h6>Cardiology</h6>
          </div>

          <ul>
            <a href="">
              <li><img src="facebookicon.png" alt=""></li>
            </a>
            <a href="">
              <li><img src="twitter.avif" alt=""></li>
            </a>
            <a href="">
              <li><img src="whatsappicon.png" alt=""></li>
            </a>
          </ul>

        </div>

        <div class="card1">
          <img src="team-2.jpg" alt="">
          <div class="cardbody">
            <h5>Tony Creed </h5>
            <h6>PrimaryCare</h6>
          </div>

          <ul>
            <a href="">
              <li><img src="facebookicon.png" alt=""></li>
            </a>
            <a href="">
              <li><img src="twitter.avif" alt=""></li>
            </a>
            <a href="">
              <li><img src="whatsappicon.png" alt=""></li>
            </a>
          </ul>

        </div>

        <div class="card1">
          <img src="team-4.jpg" alt="">
          <div class="cardbody">
            <h5>Perry Pardon </h5>
            <h6>Surgery</h6>
          </div>

          <ul>
            <a href="">
              <li><img src="facebookicon.png" alt=""></li>
            </a>
            <a href="">
              <li><img src="twitter.avif" alt=""></li>
            </a>
            <a href="">
              <li><img src="whatsappicon.png" alt=""></li>
            </a>
          </ul>

        </div>
      </div>
    </div>
  </section>

  {{!-- carousel for testimony starts --}}
  <div class="container mt-5 mb-5 carousel">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner mb-5">
        <div class="carousel-item active">
          <img src="/testimonial-1.jpg" alt="...">
          <div class="carousel-caption d-none d-md-block mb-3">
            <h5 class="mt-5" style="margin-top: 70px;">Swan Mary</h5>
            <p>Telemedicine made it easy for me to consult a doctor from home. I was able to get a
              prescription for my cold without leaving the house.".</p>
          </div>
        </div>
        <div class="carousel-item mb-5">
          <img src="/testimonial-2.jpg" alt="..." >
          <div class="carousel-caption d-none d-md-block mb-3">
            <h5 class="mt-5" style="margin-top: 70px;">Kelvin Pete</h5>
            <p>I felt heard and understood during my virtual appointment. The doctor was thorough and gave
                            me clear instructions for managing my condition."</p>
          </div>
        </div>
        <div class=" carousel-item mb-5">
              <img src="/testimonial-3.jpg" alt="">
              <div class="carousel-caption d-none d-md-block mb-3">
                <h5 class="mt-5" style="margin-top: 70px;">Marvelous Kate</h5>
            <p>CI was able to get quick mental health support when I needed it most, without the stress of
                            traveling. It was comforting to talk to someone immediately." .</p>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden=""></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon"  aria-hidden=""></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    {{!-- carousel for testimony ends --}}



    {{!-- footer starts here --}}
    <footer class="mt-4">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3>Address</h3>
          <ul class="linklist">
            <li><b>&#61987;</b> 123 street Gaa Odota</li>
            <li><b>&#128222;</b> +234-814-047-0626</li>
            <li><b>&#128231;</b> Info@example.com</li>
            <ul class="social">
              <li><a href=""><i class="bi bi-facebook"></i></a></li>
              <li><a href=""><i class="bi bi-twitter-x"></i></a></li>
              <li><a href=""><i class="bi bi-whatsapp"></i></a></li>
            </ul>
          </ul>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3>Services</h3>
          <a href="" class="btn btn-link"> Cadiology</a>
          <a href="" class="btn btn-link"> Surgery</a>
          <a href="" class="btn btn-link"> Pulmonary</a>
          <a href="" class="btn btn-link"> Neurology</a>
          <a href="" class="btn btn-link"> Orthopedics</a>
          <a href="" class="btn btn-link"> Laboratory</a>

        </div>


        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3>Quick Links</h3>
          <a class="btn btn-link" href="/contact" style="color: white;">About Us</a>
          <a class="btn btn-link" href="/contact">Contact Us</a>
          <a class="btn btn-link" href="/services">Our Services</a>
          <a class="btn btn-link" href="/terms">Terms & Condition</a>
          <a class="btn btn-link" href="/contact">Contact Us</a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3>Quick Message</h3>
          <h5>Drop us a Quick Message For Assistance Here</h5>
          <h4 id="commenttext"></h4>
          <form action="/quickmessage" method="post" id="commentform">
            <input type="email" name="email" class="email" id="email" placeholder="Email.." required><br><br>
            <textarea name="comment" id="comment" class="comment" placeholder="Comment Here"></textarea><br>
            <button type="submit" onclick="" id="commentsub">Add Comment</button>
          </form>

        </div>
      </div>


      <div class="container mt-4">
        <div class="copyright">
          <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0" style="text-align: center;">
              &copy; <a class="border-bottom" href="#">2024 MEDIC'S HEALTH.</a>, All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
              Created and Design By <a href=""><i class="bi bi-whatsapp"></i> Kelani Yunus</a>
            </div>
          </div>
        </div>
      </div>
    </footer>






    {{!--
    <script src="/js/bootstrap.bundle.min.js"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js
      "></script>
    <script src="home.js"></script>
</body>

</html>